*,::after,::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    background-color: rgb(119, 12, 241);
    padding-block: 50px;
    color: rgb(255, 255, 255)!important;
}

.container{
    background-color: rgb(255, 136, 0);
}

#boutonValider{
    background-color: rgb(119,12,241)!important;
}

#boutonValider:hover{
    background-color: rgb(255, 255, 255)!important;
    color: rgb(119,12,241)!important;
    font-weight: bold;
}

#boutonRejouer:hover{
    background-color: rgb(255, 255, 255)!important;
    color: rgb(43, 158, 20)!important;
    font-weight: bold;
}